.brands {
  width: 100%;
  height: 100px;
  margin-bottom: 93px;
}

.brands__list {
  display: flex;
  justify-content: space-around;
  width: 1197px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.brands__item {
  & img {
    filter: grayscale(100%);
    opacity: 0.2;
  }

  & a:hover img {
    filter: grayscale(0);
    opacity: 1;
  }
}
