.catalog-menu {
  position: absolute;
  top: 35px;
  left: 0;

  display: none;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0;
  margin-left: -60px;
  padding-left: 60px;
  padding-right: 540px;
  padding-bottom: 33px;

  list-style: none;
  background-color: #f7e296;

  &::before {
    content: "";
    position: absolute;
    width: 570px;
    height: 60px;
    margin-top: -40px;
  }

  & li {
    margin-right: 57px;
  }

  & li:nth-child(2) {
    margin-right: 75px;
  }

  & li:nth-child(3) {
    margin-right: 0;
  }

  & li:nth-child(4) {
    margin-right: 84px;
  }

  & li:nth-child(5) {
    margin-right: 225px;
  }

  & a {
    font-family: "open_sanslight", "Aria", sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.05mm;
    color: #000000;

    background-color: #f7e296;
  }
}

.catalog-menu--positioner {
  margin-top: 10px;
}
