.categories {
  width: 1160px;
  margin: 0 auto;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.categories__item {

  & a {
    display: inline-block;
    width: 160px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05mm;
    color: #000000;
    background-color: #ffffff;
  }
}

.categories__item--virtual {
  position: relative;
  margin-bottom: 180px;

  &::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;
    background-image: url("../img/virtual-reality.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.categories__item--monopods {
  position: relative;
  margin-bottom: 180px;

  &::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;
    background-image: url("../img/monopods-for-selfie.svg");
    background-repeat: no-repeat;
    background-position: center 95%;
  }
}

.categories__item--cameras {
  position: relative;
  margin-bottom: 180px;

  &::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;
    background-image: url("../img/action-cameras.svg");
    background-repeat: no-repeat;
    background-position: 54%;
  }
}

.categories__item--braslets {
  position: relative;
  margin-bottom: 180px;

  &::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;
    background-image: url("../img/fitness-braslet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.categories__item--watch {
  position: relative;
  margin-bottom: 180px;

  &::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;
    background-image: url("../img/smart-watch.svg");
    background-repeat: no-repeat;
    background-position: 54%;
  }
}

.categories__item--quadracopters {
  position: relative;
  margin-bottom: 180px;

  &::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;
    background-image: url("../../img/quadracopters.svg");
    background-repeat: no-repeat;
    background-position: center 55%;
  }
}
