.categories {
  width: 1160px;
  margin: 0 auto 179px auto;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.categories__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);

  &--selfie {
    align-items: flex-end;
    padding-bottom: 5px;
  }
}

.categories__item {
  & a {
    display: inline-block;
    width: 160px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05mm;
    color: #000000;
    background-color: #ffffff;

    &:hover .categories__wrap {
      background-color: rgba(240, 197, 46, 1);
    }

    &:active .categories__title,
    &:active .categories__img {
      opacity: 0.3;
    }
  }
}

.categories__title {
  margin: 35px 0 0 0;
  font-size: 18px;
}
