.contacts {
  position: relative;

  & p {
    margin: 0;
    margin-bottom: 39px;

    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.03mm;
  }

  &::before {
    position: absolute;
    top: -55px;
    width: 80px;
    height: 7px;
    content: "";
    background-color: #000000;
  }
}

.contacts__like-h1 {
  margin: 0;
  margin-bottom: 44px;
  margin-left: -2px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.1mm;
}

.contacts__map {
  display: block;
  margin-bottom: 69px;
}

.contacts__btn {
  display: inline-block;
  width: 260px;
  padding: 8px 0;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1mm;
  color: #000000;
}
