.filters {
  position: relative;
  width: 268px;
  margin-left: 60px;
}

.filters__title {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.9mm;
  text-transform: uppercase;
}

.filters__form {
  width: 200px;
  padding-top: 82px;

  & fieldset {
    position: relative;
  }

  & fieldset::before {
    content: "";
    position: absolute;
    top: -13px;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}

.filters__sub-title {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  &--level {
    margin-bottom: 34px;
  }

  &--color {
    margin-bottom: 17px;
  }

  &--Bluetooth {
    margin-bottom: 17px;
  }
}

.filters__price-level {
  width: 200px;
  height: 132px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  border: none;
}

.filters__container-scale {
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.filters__container-bar {
  position: relative;
  width: 130px;
  height: 2px;
  margin-left: -5px;
  margin-bottom: 10px;
  background-color: #91c92f;
}

.filters__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: 0;
  width: 20px;
  height: 20px;

  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 #dadada;
  cursor: pointer;

  &::after {
    position: absolute;
    width: 4px;
    height: 4px;
    content: "";

    border-radius: 50%;
    background-color: #ababab;
  }
}

.filters__toggle--min {
  &:active {
    top: -11px;
    left: -1px;
    width: 22px;
    height: 22px;
  }

  &:active::after {
    width: 5px;
    height: 5px;
  }
}

.filters__toggle--max {
  left: auto;
  right: 0;

  &:active {
    top: -11px;
    right: -1px;
    width: 22px;
    height: 22px;
  }

  &:active::after {
    width: 5px;
    height: 5px;
  }
}

.filter__cost-min,
.filter__cost-max {
  font-size: 14px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.2);
}

.filter__cost-min {
  margin-right: 60px;
}


.filters__sorting-color {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;

  border: none;
}

.filters__color-label {
  position: relative;
  display: block;
  padding-left: 37px;

  font-size: 14px;
  line-height: 40px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 8px;
    left: -2px;
    width: 27px;
    height: 23px;
    content: "";

    background: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
  }
}

.filters__color-input:checked + .filters__color-label::before {
  background: url("../img/checkbox-on.svg");
}

.filters__color-label:hover::before {
  opacity: 0.6;
}

.filters__color-input:disabled + .filters__color-label {
  opacity: 0.25;

  &:hover::before {
    opacity: 1;
  }
}

.filters__bluetooth {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  border: none;
}

.filters__bluetooth-label {
  position: relative;
  display: block;
  padding-left: 37px;

  font-size: 14px;
  line-height: 40px;

  &::before {
    position: absolute;
    top: 6px;
    left: -3px;
    width: 25px;
    height: 25px;

    content: "";
    background-image: url("../img/radio-off.svg");
  }
}

.filters__bluetooth-input:checked + .filters__bluetooth-label::before {
  background-image: url("../img/radio-on.svg");
}

.filters__bluetooth-label:hover::before {
  opacity: 0.6;
}

.filters__bluetooth-input:disabled + .filters__bluetooth-label {
  opacity: 0.25;

  &::before {
    opacity: 1;
  }
}

.filters__btn {
  width: 200px;
  padding: 8px 0;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1mm;
  color: #000000;

  border: none;
  background-color: #efefef;
}
