.header {
  width: 1160px;
  min-height: 299px;
  margin: 40px auto 0;
  padding: 40px 57px 40px 60px;


  font-family: "open_sanslight", "Aria", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;

  background-color: #f7e296;

  &--catalog-page {
    min-height: 186px;
  }
}

.header__navigation {
  position: relative;

  display: flex;
  flex-direction: column;
}

.header__logo {
  position: absolute;
  top: 0;
  margin-top: -59px;

  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;

  color: #000000;
  background-color: #f7e296;
}

.header__search {
  margin: 0;
  padding: 0;

  & input {
    margin-left: 39px;
    background-color: transparent;
    border: none;
  }

  & input::placeholder {
    color: #000000;
    opacity: 0.3;
  }
}

.header__form button {
  display: none;
  font-family: "open_sanslight", "Aria", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #f7e296;
}

.header__user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 505px;
  margin: 0;
  padding: 0;
  list-style: none;

  & li:nth-child(1) {
    margin-left: 27px;
    margin-right: auto;
  }

  & li:nth-child(2) {
    margin-right: 65px;
  }

  & li:nth-child(3) {
    margin-right: 3px;
  }

  & a {
    font-family: "open_sanslight", "Aria", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #000000;

    background-color: #f7e296;
  }

  &--monopods {
    & li:nth-child(2) {
      margin-right: 85px;
    }

    & li:nth-child(3) {
      margin-right: 65px;
    }

    & li:nth-child(4) {
      margin-right: 3px;
    }
  }
}

.header__main-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  & > li:nth-child(2) {
    margin-right: 35px;
  }

  & > li:nth-child(3) {
    margin-right: 110px;
  }

  & > li > a {
    display: block;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9mm;
    text-transform: uppercase;
    color: #000000;

    background-color: #f7e296;
  }
}

.header__item-catalog {
  position: relative;
  margin-right: auto;

  &:hover .catalog-menu {
    display: flex;
  }

  &:hover .header--catalog-page {
    min-height: 299px;
  }
}
