.header {
  width: 1160px;
  min-height: 299px;
  margin: 35px auto 0;
  padding: 50px 60px;

  font-family: "open_sanslight", "Aria", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;

  background-color: #f7e296;
}

.header__navigation {
  position: relative;

  display: flex;
  flex-direction: column;
}

.header__logo {
  position: absolute;
  top: 0;
  margin-top: -66px;

  display: block;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  font-family: "open_sanslight", "Aria", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #f7e296;
}

.header__search {
  margin: 0;
  padding: 0;
}

.header__form button {
  display: none;
  font-family: "open_sanslight", "Aria", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #f7e296;
}

.header__user-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & a {
    font-family: "open_sanslight", "Aria", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #000000;

    background-color: #f7e296;
  }
}

.header__user-menu li:nth-child(2) {
  margin-right: 65px;
}

.header__user-menu li:nth-child(1) {
  margin-right: 238px;
}

.header__main-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  & > li > a {
    display: block;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9mm;
    text-transform: uppercase;
    color: #000000;

    background-color: #f7e296;
  }
}

.header__main-menu > li:nth-child(2) {
  margin-right: 39px;
}

.header__main-menu > li:nth-child(3) {
  margin-right: 114px;
}

.header__item-catalog {
  position: relative;
  margin-right: auto;
}
