.offer {
  position: relative;

  width: 1160px;
  min-height: 480px;
  margin: 0 auto;
  padding: 0 80px;

  background-color: rgba(222, 235, 240, 0.575); //Временный цвет для удобства стилизации
}

.offer__box-slider {
  position: absolute;
  top: 216px;
  right: 83px;

  display: flex;
  justify-content: space-between;
  width: 78px;
}

.offer__btn {
  width: 12px;
  height: 12px;
  padding: 0;

  font-size: 0;
  border: 1px solid #000000;
  border-radius: 12px;
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__item {
  display: flex;

}

.offer__item:nth-child(2),
.offer__item:nth-child(3) { // Временно выключает второй и третий слайды
  display: none;
}

.offer__image {
  position: relative;
  margin-top: -111px;
  margin-left: 10px;
  margin-right: 126px;

  display: block;
}

.offer__title {
  position: relative;
  margin-top: -33px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.1mm;
  color: #000000;
}
