.offer {
  position: relative;

  width: 1160px;
  min-height: 481px;
  margin: 0 auto;
  padding: 0 80px;
}

.offer__box-slider {
  position: absolute;
  top: 216px;
  right: 83px;

  display: flex;
  justify-content: space-between;
  width: 78px;
}

.offer__btn {
  width: 12px;
  height: 12px;
  padding: 0;

  font-size: 0;
  border: 1px solid #000000;
  border-radius: 12px;
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__item {
  display: flex;
}

.offer__item:nth-child(2),
.offer__item:nth-child(3) { // Временно выключает второй и третий слайды
  display: none;
}

.offer__image {
  position: relative;

  display: block;
  margin-top: -111px;
  margin-left: 10px;
  margin-right: 126px;
}

.offer__title {
  position: relative;

  margin: 0;
  margin-top: -30px;
  margin-bottom: 18px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.1mm;
  color: #000000;
}

.offer__text {
  margin: 0;
  margin-bottom: 52px;

  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.03mm;
  color: #000000;
}

.offer_btn {
  display: block;
  margin-left: 43px;
  margin-bottom: 56px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1mm;
  color: #000000;
}

.offer__table {
  & td {
    width: 160px;

    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
  }

  & td:nth-of-type(2) {
    width: 138px;
  }

  & th {
    padding-top: 7px;

    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
  }
}
