.offer {
  position: relative;

  width: 1160px;
  min-height: 481px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.offer__box-slider {
  position: absolute;
  top: 216px;
  right: 83px;

  display: flex;
  justify-content: space-between;
  width: 78px;
}

.offer__btn-slider {
  width: 12px;
  height: 12px;
  padding: 0;

  font-size: 0;
  border: 1px solid #000000;
  border-radius: 12px;
  z-index: 10;
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__item {
  position: relative;
  display: flex;
  justify-content: space-between;

  &:nth-child(1)::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "01";
    display: inline-block;
    margin-top: -122px;
    margin-right: -11px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
  }

  &:nth-child(2)::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "02";
    display: inline-block;
    margin-top: -122px;
    margin-right: -11px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
  }

  &:nth-child(3)::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "03";
    display: inline-block;
    margin-top: -122px;
    margin-right: -11px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 100px;
    height: 7px;
    margin-top: -74px;
    margin-right: 400px;

    background-color: #ffffff;
  }
}

.offer__item:nth-child(2),
.offer__item:nth-child(3) { // Временно выключает второй и третий слайды
  display: none;
}

.offer__image {
  position: relative;

  display: block;

  margin-top: -111px;
  margin-left: 90px;
}

.offer__image--watch {
  margin-top: -99px;
  margin-left: 116px;
}

.offer__image--quadracopter {
  margin-top: -46px;
  margin-left: 30px;
}

.offer__container {
  width: 500px;
}

.offer__title {
  position: relative;

  margin: 0;
  margin-top: -30px;
  margin-bottom: 18px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.1mm;
  color: #000000;
}

.offer__text {
  margin: 0;
  margin-bottom: 52px;

  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.03mm;
  color: #000000;
}

.offer__text--first-slide {
  padding-right: 20px;
}

.offer__more {
  display: block;
  width: 220px;
  margin-top: -8px;
  margin-bottom: 48px;
  padding: 8px 0;

  text-align: center;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1mm;
  color: #000000;
}

.offer__table {
  & td {
    width: 160px;

    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
  }

  & td:nth-of-type(2) {
    width: 138px;
  }

  & th {
    padding-top: 7px;

    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
  }
}
