.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  margin-bottom: 77px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ebebeb;

  & a {
    color: #000000;
    background-color: #ebebeb;
  }
}

.pagination__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 0 0 5px;
  padding: 23px 0;
}

.pagination__item {
  margin-right: 30px;

  &:not(.pagination__item--current) a {
    color: rgba(0, 0, 0, 0.3);

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 1);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.pagination__another-page {
  padding: 23px 31px;
  text-transform: uppercase;
  letter-spacing: 0.9mm;

  &--after {
    padding-right: 29px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
