.servises {
  display: flex;
  width: 100%;
  min-height: 288px;
  margin-bottom: 95px;
  padding: 0 140px;

  background-color: #e5e5e5;
}

.servises__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 285px;
  margin: 0;
  padding: 0;
  margin-top: -20px;
  padding-right: 125px;
  padding-top: 10px;

  list-style: none;
}

.servises__item {
  margin-bottom: 40px;

  & a {
    display: inline-block;
    padding-left: 4px;

    font-family: "gilroyextrabold", "Aria", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1mm;
  }
}

.servises__wrapper {
  padding-left: 115px;
  padding-right: 320px;
}

.servises__like-h1 {
  margin: 0;
  margin-top: -25px;
  margin-bottom: 30px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 0.3mm;
  color: #000000;
}

.servises__text {
  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.07mm;
  color: #000000;
}

.servises__wrapper--guarantee {
  display: none;
}

.servises__wrapper--credit {
  display: none;
}
