.title-wrapper {
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 46px;
  padding-top: 38px;
}

.title-wrapper__title {
  margin: 0;
  margin-bottom: 23px;

  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.15mm;
}

.title-wrapper__bread-crumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  & li {
    margin-right: 39px;

    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }

  & a {
    font-family: "open_sanslight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);

    background-color: #ffffff;
  }
}
