html {
  box-sizing: border-box;
}

body {
  font-family: "open_sanslight", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

a[href] {
  cursor: pointer;
}

.btn {
  background: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.btn:hover {
  background: linear-gradient(to bottom, #f0c52e, #f0c52e);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}
